.DS_Store
.classpath
.project
.pydevproject
.settings/
dependency-reduced-pom.xml
target/
temp/
/parser.out
python/nammu/controller/NammuController$py.class
python/nammu/controller/__init__$py.class
*.jar
*.pyc
parsetab.py
